PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/expense_tracker?appName=expense-tracker
MONGODB_DB_NAME=expense_tracker
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=12h
